@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@300;400;500;600;700;800&family=Satisfy&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
--primary-color: #3d572f;
--primary-color-alt: #96d674;
--secondary-color: #eeeeee;
--secondary-color-alt: #dcdcdc;
--black-color: #0f0f0f;
--white-color: #ffffff;
}

body {
    /* background-image: linear-gradient(to right, #96d67477,#f3db5576); */
    background: url(css/imagens/modelo2.jpg);
    /* background-repeat: no-repeat; */
    max-height: 100vh;
    
}
.login {
    text-align: center;
}
.fieldset {
    text-align: left;
    padding: 20px;
    margin-top: 10px;
    display: grid;
    /* border: 2px solid #3d572f; */
    justify-items: center;
    font-family: Anton;
    letter-spacing: 1px;
    
} 

.fieldset input {
    height: 30px;
    width: 180px;
    max-width: 400px;
    border-radius: 40px;
    border: 1px solid #96d674;
    background-color: #eeeeee;
    padding-left: 12px;
}
.fieldset a {
    font-family: 'Gill Sans';
    color: #dac23ce4;
}
h1 {
    color: #96d674;
    font-family: Anton;
    font-size: 50px;
    margin-top: 15px;
}
h3 {
    font-family: 'Anton';
    font-size: 25px;
    color: #96d674;
    
}
h4 {
    font-family: "Raleway";
    /* color: #F3dc55; */
    margin: 10px;

}
h4 a {
    /* text-decoration: none; */
    color: #dac23ce4;
}
h4 a:hover {
    color: #3d572f;
    letter-spacing: 1px;
    transition: 0.3s all ease;
    text-decoration: none;
}

div label {
    color: #ffffff;
}

button {
    margin-top: 15px;
    width: 120px;
    height: 35px;
    border-radius: 40px;
    border: none;
    background-color: #96d674;
    color: #0e0c0c;
    
}
.enviar {
    font-family: 'Anton';
    font-weight: 400;
    font-size: 18px;
    /* background-color: #3d572f; */
}
.enviar:hover {
    background-color: #dcdcdc;
    color: #000;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s all ease;
}
footer {
    align-items: center;
    justify-content: center;
}
.footer {
    display: flex;
    text-align: center;
    padding-top: 40px;
    margin-top: auto;
    font-family: 'Anton';
    font-size: 25px;
}
.footer p {
    color: #dac23ce4;
}
